<div class="bar bar-subheader bar-tips" ng-if="header.search.isVisible">
</div>

<ion-view class="home" title="Home" ng-controller="Data" >
    <ion-content scroll="false">

    <div aria-hidden="true" >
      <ion-tabs class="tabs-calm tabs-icon-top">

        <ion-tab title="Próximos" role="tab"  icon-on="flaticon-gps" icon-off="flaticon-gps">
          <ion-scroll class="search listHome">
              <ion-list>
                <ion-item class="item-divider">
                  Convênios próximos a sua localização 
                </ion-item>

                <ion-item class="row item item-bottom-border item-text-wrap item-padding-top" ng-repeat="info in nearPlaces  | orderBy:['id']">
                  <div class="col col-15 col-center" data-title="{{info.status_tip}}" ng-class="home.data.getIconTip()"  ng-click="home.data.getIconStatus(info.status, true)">
                    <i ng-class="home.data.getIconStatus(info.status)"></i><br>
                  </div>

                  <div class="col col-75">
                    <p class="">{{info.name  | cut:true:100:' ...'}}</p>
                    <label  ><i class="icon ion-pin"></i>{{info.proponent}}</label>

                    <div class="row">
                      <div class="col col-40"><ionic-ratings ratingsobj='timeObject'></ionic-ratings>
                      <ionic-ratings ratingsobj='moneyObject'><br></ionic-ratings>
                      </div>
                      <div class="col col-60 col-center"><p><a href="#">25 comentários</a></p></div>
                    </div>

                  </div>

                  <div class="col col-10 col-center" on-touch="go('/data/local/'+info.id)">
                    <i class="icon right flaticon-arrows-5"></i>
                  </div>
                </ion-item>
              </ion-list>
          </ion-scroll>
        </ion-tab>

        <ion-tab title="Monitorados" role="tab"  icon-on="flaticon-editing" icon-off="flaticon-editing">
          <ion-scroll class="search listHome">
              <ion-list>
                <ion-item class="item-divider">
                  Convênios que você está monitorando
                </ion-item>


                <ion-item class="row item item-bottom-border item-text-wrap item-padding-top" ng-repeat="info in nearPlaces  | orderBy:['name']">
                  <div class="col col-15 col-center" data-title="{{info.status_tip}}" ng-class="home.data.getIconTip()"  ng-click="home.data.getIconStatus(info.status, true)">
                    <i ng-class="home.data.getIconStatus(info.status)"></i><br>
                  </div>

                  <div class="col col-75">
                    <p class="">{{info.name  | cut:true:100:' ...'}}</p>
                    <label><i class="icon ion-pin"></i>{{info.proponent}}</label>

                    <div class="row">
                      <div class="col col-40"><ionic-ratings ratingsobj='timeObject'></ionic-ratings><br>
                      <ionic-ratings ratingsobj='moneyObject'></ionic-ratings>
                      </div>
                      <div class="col col-60 col-center"><p><a href="#">25 comentários</a></p></div>
                    </div>

                  </div>

                  <div class="col col-10 col-center" on-touch="go('/data/local/'+info.id)">
                    <i class="icon right flaticon-arrows-5"></i>
                  </div>
                </ion-item>
              </ion-list>
          </ion-scroll>
        </ion-tab>
      </ion-tabs>
    </div>
  </ion-content>
</ion-view>
