<ion-view class="onboarding {{onboarding.state.name}}" title="onboarding"  >
  <ion-content scroll="false" aria-hidden="true">
    <ion-slide-box ng-style="{'height': windowInfo.height+'px'}"
     on-slide-changed="onboarding.state.change($index)">
      <ion-slide  aria-hidden="true">

      </ion-slide>
      <ion-slide aria-hidden="true">

      </ion-slide>
      <ion-slide >
        <br><br><br>
        <div role="application" class="onboardingButtons" title="Inscreva-se no ConvêniosBR">
          <a href="#" class="button" ui-sref="user.signin">Login</a>
          <a href="#" class="button" ui-sref="user.signup">Inscreva-se</a>
        </div>
      </ion-slide>
    </ion-slide-box>


  </ion-content>



  <div class="bar bar-footer" >

    <div class="title" tabindex="0" role="button" title="Bem vindo ao ConvêniosBR" ui-sref="base.home" >
      Ir para aplicativo <i aria-hidden="true" class="flaticon-arrows-5"></i>
    </div>

  </div>

  <div class="buttons-aria" tabindex="1" role="region" aria-hidden="false" title="Inscreva-se no ConvêniosBR">
    <a href="#" tabindex="1" class="button" ui-sref="user.signin">Login</a>
    <a href="#" tabindex="2" class="button" ui-sref="user.signup">Inscreva-se</a>
  </div>

</ion-view>
