<section class="popupContent"  ng-class="{'popupContentClose':popup.content.close}">
  <div ng-class="'before-'+header.class"  ng-if="!header.search.isVisible && header.isVisible===true  && popupIsOpen===false">
    <ion-header-bar ng-class="header.classAdd || header.class" class="bar" role="banner" label="Cabeçalho" title="Cabeçalho" >
      <button tabindex=1 ng-if="header.buttons.menu" ng-click="menu.left.show()" class="button button-icon flaticon-three def">
        <acb-info>Menu</acb-info> 
      </button>
      <button tabindex=2 ng-if="header.buttons.back && !header.buttons.menu" ng-click="popup.content.hide();"  class="button button-icon flaticon-delete def"><acb-info>Ir para o inicio</acb-info></button>

      <h1 class="title">
        {{header.title}}
      </h1>

      <div class="buttons">
        <button tabindex=3 ng-if="header.buttons.search" ng-click="header.search.init_from_modal
          ();
        " class="button button-right button-icon flaticon-interface">
          <acb-info>Efetuar uma busca</acb-info>
        </button>

        <div class="divider-button" ng-if="header.buttons.filter">
          <button tabindex=4
            ng-click="header.filter.start_from_modal();"
            class="button button-icon flaticon-tool button-right def"
            ng-class="{'filter-active':header.filter.isVisible}">
            <acb-info>Filtrar informações</acb-info>
          </button>
        </div>

        <div class="divider-button" ng-if="header.buttons.share">
          <button tabindex=5
            ng-click="shareAnywhere();"
            class="button button-icon flaticon-connection button-right def"
            ng-class="{'filter-active':header.filter.isVisible}">
            <acb-info>Compartilhar com um amigo esse local</acb-info>
          </button>
        </div>
      </div>

    </ion-header-bar>
  </div>
  <ion-nav-view name="popupContent"></ion-nav-view>


</section>
