<ion-view class="places user formPage" title="places" ng-controller="User">
  <div class="profile has-header bar-subheader-p" >
    <ion-list>
      <ion-item class="item-avatar-left" href="#">
        <img ng-src="{{loginInfos.photo()}}">
        <b>{{loginInfos.name}}</b><br>
        {{loginInfos.email}} 
      </ion-item>
    </ion-list>
  </div>

  <ion-content class='has-header has-subheader'  >


      <ion-list>
        <ion-item class="item-divider">
          Lugares avaliados
        </ion-item>

        <ion-item class="item-icon-left item-icon-right item-text-wrap item-bottom-border">
          <i class="icon left flaticon-square"></i>

          <h3>Museu de Arte Moderna de São Paulo</h3>
          <p>Av: Pedro Álvares Cabral, s/nº, São Paulo - SP</p>

          <i class="icon right flaticon-shapes-1"></i>

        </ion-item>

        <ion-item class="item-icon-left item-icon-right item-text-wrap item-bottom-border">
          <i class="icon left flaticon-square"></i>

          <h3>Museu de Arte Moderna de São Paulo</h3>
          <p>Av: Pedro Álvares Cabral, s/nº, São Paulo - SP</p>

          <i class="icon right flaticon-shapes-1"></i>

        </ion-item>

      </ion-list>


  </ion-content>
</ion-view>
